.DS_Store
DerivedData/
DerivedDataDevice/
.build/
.swiftpm/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.env
*.swp
